body {
	font-family: helvetica;
	font-size: 14px;
}

p {
	color: orange;
}

ul li.done {
	color: green;
}

.underlined{
	text-decoration: underline;
}

div#ollie{
	font-weight: bold;
	background-color: aquamarine;
	padding: 20px;
	border: 3px solid black;
	margin: 40px;

	display: inline-block;
}